[access]
	inheritFrom = GerritForge/gerrit-enterprise-projects
[submit]
[project]
	description = Spark ETL to extra analytics data from Gerrit Projects using the Analytics plugin
[access "refs/*"]
	owner = group GerritForge-analytics-etl
	owner = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group GerritForge-analytics-etl
	label-Verified = -1..+1 group GerritForge-analytics-etl
	push = group user/Luca Milanesio (lucamilanesio)
	rebase = group GerritForge-analytics-etl
	removeReviewer = group GerritForge-analytics-etl
	submit = group GerritForge-analytics-etl
[access "refs/tags/*"]
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
